body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 1200px;
  width: 100%;
}

.btn {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: rgb(199, 162, 120);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid rgb(39, 29, 16);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

h2{
	color: rgb(136, 90, 70);
	 text-align: center;
}
